
<mat-card class="example-card">
  <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{date}}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
<img mat-card-image src="{{src}}" alt="edition cover">
    <mat-card-content>
        <!-- <p>
            {{table_of_cont}}
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
        </p> -->

    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)='showDetalis()'>DETALIS</button>
    </mat-card-actions>
</mat-card>
