
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="over"
  >
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
  >
  <mat-icon>arrow_forward</mat-icon>
  </button>

    <div class="links">
      <a
      href="/editions"
      [routerLink]="['/editions']"
      >
      Editions
      </a>
      <a
      href="/articles"
      [routerLink]="['/articles']"
      >
      Articles
      </a>
      <a
      href="/graf_wiedzy"
      [routerLink]="['/graf_wiedzy']"
      >
      Graf_wiedzy
      </a>
    </div>

  </mat-sidenav>
  
  <mat-sidenav
    #articles
    mode="over"
    position="end"
  >
    <button
    mat-icon-button
    (click)="articles.toggle()"
    >
    <mat-icon>arrow_backward</mat-icon>
    </button>

    <ng-container
      *ngIf="articlesStore.state$ | async as state"
    >
      <div
        *ngFor="let article of state.allArticles"
        class="articles"
      >
        <img src="/assets/images/{{ article['image'] }}">
        <p
          *ngFor="let paragraph of article.paragraphs"
        >
          {{ paragraph }}
        </p>
      </div>
    </ng-container>

  </mat-sidenav>

  <mat-sidenav-content>
    <!--
      using content projection to inject a button inside the search bar!

      alternatively one could just create an OUTPUT in the `main-toolbar` and
      `emit` event every time one would like to see the menu!
    -->
    <app-toolbar
      (search)="store.filterEditions($event)"
    >
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </app-toolbar>

    <app-editions-grid
      (editionSelected)="onEditionSelected()"
    ></app-editions-grid>

  </mat-sidenav-content>

</mat-sidenav-container>
