
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="over"
  >
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
  >
  <mat-icon>arrow_forward</mat-icon>
  </button>


    <div class="links">
      <a
      href="/editions"
      [routerLink]="['/editions']"
      >
      Editions
      </a>
      <a
      href="/articles"
      [routerLink]="['/articles']"
      >
      Articles
      </a>
      <a
      href="/graf_wiedzy"
      [routerLink]="['/graf_wiedzy']"
      >
      Graf_wiedzy
      </a>
    </div>

  </mat-sidenav>
  <mat-sidenav
    #editions
    mode="over"
    position="end"
  >
    <button
    mat-icon-button
    (click)="editions.toggle()"
    >
    <mat-icon>arrow_backward</mat-icon>
    </button>
    <div class="articles" *ngFor="let article of articles">
      <img src="/assets/images/{{article['image']}}">
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!--
      using content projection to inject a button inside the search bar!

      alternatively one could just create an OUTPUT in the `main-toolbar` and
      `emit` event every time one would like to see the menu!
    -->
    <app-main-toolbar
      (search)="store.bulkReadEditions($event)"
    >
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </app-main-toolbar>

    <app-editions-grid
      (editionSelected)="onEditionSelected($event)"
    ></app-editions-grid>

  </mat-sidenav-content>

</mat-sidenav-container>
