
#editionImgs{
    position: relative;
}

.editionImg {
    position: absolute;
    transform-origin: 0 0;
    display: none;
    height: 200px;
    width: auto;
}

/* .gridImg {
    height: 100px;
    width: 100px;
} */

.articleImg {
    width: 200px;
    height: auto;
    margin-left: 30px;
    margin-top: 20px;
}