:root {
    --color-theme: #3D3D4A;
    --color-track: #343440;
}

* {
    box-sizing: border-box;
}

html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: var(--color-theme);
}

#logo {
    margin: auto;
}

/* #main-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: var(--color-track);
} */

#editionImgs{
    position: relative;
}

.gridImg {
    height: 100px;
    width: 100px;
}

.editionImg {
    position: absolute;
    transform-origin: 0 0;
    display: None;
    height: 200px;
    width: auto;
}

.articleImg {
    width: 200px;
    height: auto;
    margin-left: 30px;
    margin-top: 20px;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.4);
  }

#modal-content {
    margin: 100px;
    padding: 20px;
    width: 80%;
    background-color: var(--color-track);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#editions {
    display: none;
    position: relative;
}

.flex-parent {
    display: flex;
    height: 500px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

image:hover {
    filter: brightness(50%);
    cursor: pointer;
}

img {
    border-radius: 10%;
}

img:hover {
    filter: brightness(50%);
    cursor: pointer;
}
